[Unit]
Description=Qualcomm (Fairphone 5) camera kicker
After=cameraservice-trust-stored.service

[Service]
ExecCondition=sh -c "getprop ro.product.board | grep FP5"
ExecStartPre=sleep 5s
ExecStart=/usr/sbin/qcom_camera_kicker
Type=oneshot

[Install]
WantedBy=ubuntu-touch-session.target
