[Unit]
Description=binfmt_misc hack
Before=systemd-binfmt.service
Wants=systemd-binfmt.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mount binfmt_misc -t binfmt_misc /proc/sys/fs/binfmt_misc

[Install]
WantedBy=sysinit.target
